<div class="header">
    <div class="container-fluid">
        <div class="clearfix">
            <ul class="list-inline pull-left">
                <li><a class="blog-nav-item active" href="/"><svg class="logo" viewBox="0 0 2048 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="691"><path d="M0 0h512v1024H0zM768 256h512v512H768zM1536 0h512v1024H1536z" fill="#F04155" p-id="692" data-spm-anchor-id="a313x.7781069.0.i0"></path></svg> {{site.title}}</a></li>
            </ul>
            <ul class="list-inline pull-right">
                <li><a class="blog-nav-item" href="/about">about</a></li>
                <li><a class="blog-nav-item" href="/idea.pdf">idea</a></li>
                <li><a class="blog-nav-item" href="/vsc.pdf">vsc</a></li>
            </ul>
        </div>
    </div>
</div>
