@font-face {
  font-family: zfsj; src: url("song.TTF")
}
body{word-wrap:break-word;max-width: 650px;
margin: 0 auto;font-family: zfsj}
.zw{
	font-size: 1.2em;
	text-indent: 2em;
}
.yw{
	font-size: 1.3em;
	text-indent: 2em;
}
*.duokan-footnote {
  line-height: 1;
  height: 1em !important;
  width: auto;
  border: 0;
}
*.duokan-footnote-item {
  margin: 0.3em 0 0.3em 0;
  text-indent: 0;
  font-family: kt, serif;
  font-size: 0.9em;
  text-align: left;
}
.exs {
  width: 0.9em;
  vertical-align: top;
  cursor: pointer;
}
li {
  list-style-type: none;
}