<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/main.css">
    <title>{{site.title}}</title>
</head>
<body>
{% include header.html %}

<main role="main" class="container">
    {{ content }}
</main>

<footer class="footer">
    <div class="container">
        
    </div>
    <span class="bah">鄂ICP备15023775号</span>
</footer>
</body>

</html>
